<div class="col-md-12">
  <h2>Parsing Stats</h2>
</div>
<div class="row">
  <% if @stats.empty? %>
    <p>No data.</p>
  <% else %>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <th>Provider</th>
          <th>Parse Attempts</th>
          <th>% Succeeded</th>
          <th>% Failed</th>

        </thead>
        <tbody>
          <% @stats.each do |website| %>
            <tr>
              <!-- <td><%# website.provider&.name || "-" %></td>-->
              <td>
                <% if website.provider_id %>
                  <%= link_to website.provider_name, dashboard_provider_path(:id => website.provider_id) %>
                <% else %>
                  &mdash;
                <% end%>
              </td>
              <td><%= website.total %></td>
              <td><%= percentage(website.success) %></td>
              <td><%= percentage(website.failure) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
